*{
    margin: 0px;
    padding: 0px;
}
.menu-section{
    background-color: rgb(56, 55, 55);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo img{
    width: 120px;
}
.menu ul{
    display: flex;
}
.menu ul li, a{
    color: white;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    padding: 5px;
    font-size: 18px;
}
/* banner section css */
.banner-img img{
    width: 300px;
    margin-right: 50px;
}
.banner-section{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-image: url(./images/background.png),linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-text{
    margin-left: 50px;
}
.banner-text h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 12px;
}
.banner-text p{
    font-size: 20px;
    margin-bottom: 15px;
}
.btn{
    color: white;
    background-color: red;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}
/* about section css */
.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    /* flex-direction: row-reverse; */
}
.about-img{
    margin-left: 50px;
}
.about-img img{
    width: 300px;
}
.about-title{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}
.abut-text{
    margin-right: 50px;
}
.about-text h2{
    font-size: 25px;
    margin-bottom: 15px;
}
.about-text p{
    margin-bottom: 8px;
}
/* services section css */
.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
}
.service-section{
    background-image: url('./images/background.png'),linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
}
.service-section h1{
    font-size: 45px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.service-section button{
    background-color: rgb(31, 31, 31);
    border: none;
    padding: 8px 10px;
    color: white;
    margin-top: 20px;
}
.service-box{
    color: white;
    background-color: rgb(14, 14, 14);
    width: 230px;
    height: 280px;
    box-shadow: 3px 3px 48px 3px rgb(137, 137, 137);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}
.service-box h2{
    margin-bottom: 15px;
}
.icon{
    width: 70px;
}
/* footer section css */
.footer-section{
    background-color: rgb(21, 20, 20);
    height: 60vh;
}
.footer-info{
    display: flex;
    justify-content: space-around;
    padding: 60px 40px 40px 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.col1 img{
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}
.footer-info h3{
    margin-bottom: 20px;
}
.footer-info p, h3{
    color: #fff;
    line-height: 30px;
}
.copyright{
    color: #fff;
    text-align: center;
}
.end{
    margin-top: 50px;
    margin-left: 130px;
    margin-right: 130px;
}